@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*Configurações Globais*/
*{
  box-sizing: border-box;
}
body{
  align-items: center;
  background-color: #FFFFFF;
  color: #111111;
  margin:0;
  padding:0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

/*Menu de navegação*/
#welcome {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #74690c;
  /* background-color: #111111;  */
  border-style: dashed;
  border-color: #111111;

}
.header .menuNavigation{
  text-align: center;
  display: flex;
}
.header .menuNavigation ul{
  list-style-type: none;  /*Remove os ícones da lista*/
  font-variant: small-caps; /*Mantêm apenas a primeira leta maiúscula e as outras minúsculas*/
}
.header .menuNavigation a{

  padding:30px 50px;
  font-size:20px;
  color: #111111;
  text-decoration: none; /* Remove o sublinhado do link  */
} 
.img-profile{
  z-index: auto;
  margin:30px 30px -30px;
  height: 250px;
  border: dotted;  
  position: relative;
  clip-path:ellipse(100px 150px ) ;
}
.container_cover{
  background-image:url(https://i.ytimg.com/vi/kkVGBn-haDo/maxresdefault.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}



#preface{
  background-color:  black;
  color: #1CBF28;
  font-family: 'Courier New', Courier, monospace;
  padding: 50px;
}
#preface h1{
  text-align: end;
  margin-top: -20px;
  color: #FFFFFF;
}
#preface p {
  text-align: center;
}
.container{
  text-align: center;
}


/*FOOTER*/
#github{
  height:50px;
}
#insta{
  height:42.5px;
  margin: 4px;
}
#copy{
  text-align: center;
}

/*Paleta usada: #74690c = dourado
#14143b = azul escuro
 */