@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*Configurações Globais*/
*{
  /* box-sizing: border-box; */
}
body{
  align-items: center;
  background-color: #FFFFFF;
  color: #111111;
  margin:0;
  padding:0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

/*Menu de navegação*/
#welcome {
  position: sticky;
  top: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #74690c;
  background-color: #111111; 
  border-style: dashed;
  border-color: #111111;
  padding: 15px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;

}
#github{
  position: fixed;
  top: 5px;
  right: 50px;
  height:50px;
}
#home, #destaque, #artigos, #sugestoes {
  display: inline-block;
  padding: 10px 35px;
  opacity: 1;
  transition: all ease 0.7s;
  border-radius: 5px;
  border:3px solid black;
  
}
#home:hover, #destaque:hover, #artigos:hover, #sugestoes:hover{
  opacity: 0.9;
  background: #74690c;
  color: #FFFFFF;
  font-weight: bold;

} 
.menuNavigation{
  
  /* text-align: center; */
  /* display: flex ;  */
  /*  Este atributo está atrapalhando a centralização do menu em multi-plataformas. Consertar isso */
}
.menuNavigation ul{
  list-style-type: none;  /*Remove os ícones da lista*/
  font-variant: small-caps; /*Mantêm apenas a primeira leta maiúscula e as outras minúsculas*/
}
.menuNavigation li{
  float: left;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 40px;
  
}
.menuNavigation a{
  font-size:20px;
  color: #111111;
  text-decoration: none; /* Remove o sublinhado do link  */
} 
.img-profile{
  margin: auto;
  height: 250px;
  border: dotted;  
  position: relative;
  right: 50px;
  /* left: -50px; */
  clip-path:ellipse(100px 150px ) ;
}
.container_cover{
  background-image:url(https://i.ytimg.com/vi/kkVGBn-haDo/maxresdefault.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  margin-top: 100px;
  border-top: 10px solid #74690c;
}



#preface{
  background-color:  black;
  color: #1CBF28;
  font-family: 'Courier New', Courier, monospace;
  padding: 50px;
}
#preface h1{
  text-align: end;
  margin-top: -20px;
  color: #FFFFFF;
}
#preface p {
  text-align: center;
}

.container{
  text-align: justify;
  display: block;
  margin-left: 20px;
  margin-right: 20px;

}
.container h2{
  text-align: center;
}
#mr, #mr3{
  float: left;
  height:200px;
  width: 250px;
  padding: 20px;
}
#mr1{
  float: right;
  height: 200px;
  width: 250px;
  padding: 20px;
  
}



/*FOOTER*/

#insta{
  position: relative;
  height:42.5px;
  margin: 4px;
}
#copy{
  text-align: center;
}

/*Paleta usada: #74690c = dourado
#14143b = azul escuro
#1CBF28 = Green Matrix */

