@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*Configurações Globais*/
*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}
body{
  align-items: center;
  background-color: #FFFFFF;
  color: #111111;
  margin:0;
  padding:0;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

/*Menu de navegação*/
#welcome {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: #74690c;
  background-color: #111; 
  border-top: 10px solid #74690c;
  
  padding: 10px;
  margin-top: 0px;

}

#header{
  position: sticky;
  top: 0;
}

#github{
  position: fixed;
  bottom: 20px;
  right: 50px;
  height:50px;
}

.menuNavigation{
  margin: -10px;
}
  .menuNavigation ul{
    
    list-style-type: none;  /*Remove os ícones da lista*/
    font-variant: small-caps; /*Mantêm apenas a primeira leta maiúscula e as outras minúsculas*/
    padding-bottom: 10px;
  }
  .menuNavigation li{
    /* display: inline-block; */
    /* float: right; version com a linha hr centralizada à esquerda dos menus */
    float: left;
    margin:0;
    padding: 0;
    width: 150px;
    
  }
  .menuNavigation a{
    font-size:20px;
    color: #111111;
    text-decoration: none; /* Remove o sublinhado do link  */

  } 
  .nav-btn{ 
    padding: 10px 20px;
    opacity: 0.8;
    transition: all ease 0.3s;

  }

  .nav-btn:hover{
    opacity: 1;
    background: #111;
    color: #FFFFFF;
    border-radius: 5px;
    /* border-bottom: 7px solid #74690c; */
    border-top: 7px solid #74690c;
    font-weight: bold;

  }
/* .img-profile{ desativado por hora...
  float: left;
  height: 200px;
  border: dotted;  
  position: relative; 
  clip-path:ellipse(100px 150px);
}

*/
.img-profile{
  height: 200px;
  float: left;
  position: relative;
}

.container_cover{
  background-image:url(https://i.ytimg.com/vi/kkVGBn-haDo/maxresdefault.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px;
  border-top: 10px solid #74690c;

}
#preface{
  background-color:black;
  color: #1CBF28;
  font-family: 'Courier New', Courier, monospace;
  padding: 50px;

}
  #preface h1{
    text-align: end;
    margin-bottom: 20px;
    color: #FFFFFF;

  }
  #preface p {
    text-align: center;

  }

.container{
  text-align: justify;
  display: block;
  margin-left: 20px;
  margin-right: 20px;

}
.container h2{
  text-align: center;

}
#mr, #mr3{
  float: left;
  height:200px;
  width: 250px;
  padding: 20px;

}
#mr1{
  float: right;
  height: 200px;
  width: 250px;
  padding: 20px;
  
}

/*FOOTER*/

#insta{
  position: relative;
  height:42.5px;
  margin: 4px;
}
#copy{
  text-align: center;
}

#v{
  height: 350px;float: right;
}

@media screen and (max-width:601px) {
  .menuNavigation{  /* Pode resolver meu problema no projeto de social media kenziegram*/
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
    .menuNavigation ul{
      /* justify-content: center; */
    }
    .menuNavigation li{
      text-align: center;
      margin-bottom: 20px;
    }

  .container_cover{
    margin-top: -55px;
    width: 90vw;
    height: 50vh;
  }

  .img-profile{
    float: none;
    margin-left: -200px;
    height: 150px;
  }
  
}

/*Paleta usada: #74690c = dourado
#14143b = azul escuro
#1CBF28 = Green Matrix */

